<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <p> <%= f.text_area :description %><br> /<p>

  <%= f.submit %>
<% end %>